
.navbar {
	font-family: Helvetica;
	font-weight: bold;
	text-rendering: optimizelegibility;
}

.navbar .brand {
	padding: 6px;
}
.navbar .nav > li > a {
	padding: 0 10px;
}
a.brand {
	text-decoration: none;
	margin-right: 2em;
}
a.brand img {
	vertical-align: baseline;
}
.navbar .badges {
	float: right;
	vertical-align: baseline;
}

.jumbotron {
  margin: 0 60px;
}
.jumbotron h1 {
	margin: 2em 0 1em 0;
	font-size: 4em;
}
.jumbotron p {
	font-size: 1.1em;
	line-height: 1.5em;
	margin-bottom: 2em;
}

.container-narrow {
    width: 60%;
    margin: 1em auto;
}
@media (max-width: 920px) {
    .container-narrow {
        width: 100%;
        margin: 0;
        padding: 1em;
    }
}
.list_heading {
    list-style: none;
}
/* overide bootstrap box */
pre {
	background-color: inherit;
	border: 0;
}
.book img {
	margin: 10px;
}
.book blockquote {
	margin: 1em 10px;
	font-size: 0.9em;
	border: 0;
}
#features ul {
	font-size: 0.9em;
}
/* sub-sections on front page */
h4 {
	margin-top: 2em;
}