---
layout: page
title : News
header : News Archive
group: navigation
---
{% include JB/setup %}

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}

<a href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">RSS/Atom Feed</a>

<h2>2016</h2>
<h3>March</h3>
<ul>
    
<li><span>March 13, 2016</span> &raquo; <a href="https://github.com/supercollider/supercollider/releases/tag/Version-3.7.0">SuperCollider 3.7.0 released</a></li>
  
</ul>
