---
layout: page
title: Wiki
header: Wiki
group: navigation
---

{% assign pages_list = site.pages %}
{% assign current_category = '' %}
{% for node in pages_list %}
    {% if node.title != null and node.group != "navigation" and node.group != "index" %}
        {% if current_category != node.category %}
            <li class="list_heading"><h4>{{ node.category}}</h4></li>
            {% assign current_category = node.category %}
        {% endif %}
        <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
    {% endif %}
{% endfor %}


## Old WIKIs in the process of moving here

<ul>
<li><a href="http://supercollider.sourceforge.net/wiki/">(old) wiki</a></li>
<li><a href="http://swiki.hfbk-hamburg.de/MusicTechnology/6">(really old) swiki</a></li>
</ul>
