<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=5">

    <script>
        function toggleMenu() {
            let menu = document.querySelector("nav ul");
            if(menu.classList.contains("hide")) {
                menu.classList.remove("hide");
            } else {
                menu.classList.add("hide");
            }
        }
    </script>

    <!-- Theme Mode-->
    {% if site.color_theme == 'auto' %}
    <script>
        const isAutoTheme = true;
        document.documentElement.setAttribute('data-theme', sessionStorage.getItem('theme'))
    </script>
    {% else %}
    <script>
        const isAutoTheme = false;
        document.documentElement.setAttribute('data-theme', "{{ site.color_theme | default: 'light' }}")
    </script>
    {% endif %}

    <!-- Main JS (navbar.js, katex_init.js and masonry_init.js)-->
    <script defer src="{{ '/assets/js/main.min.js' | relative_url }}"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Source+Code+Pro:wght@400;600&family=JetBrains+Mono:wght@600;700&family=Raleway:wght@900&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.site_version | relative_url }}">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | default: 'SuperCollider latests posts' }}" href="{{ 'feed.xml' | absolute_url }}"/>

    {% if site.bootstrap %}
    <!-- Bootstrap-4.1.3 isolation CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/vendor/bootstrap-iso.min.css' | relative_url }}">

    <!-- see https://getbootstrap.com/docs/4.6/getting-started/introduction/#separate -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
    {% endif %}

    <!-- KaTeX 0.13.9 -->
    {% if site.katex or site.theme_settings.katex %}
    <script defer src="{{ '/assets/js/vendor/katex.min.js' | relative_url }}"></script>
    <script defer src="{{ '/assets/js/vendor/auto-render.min.js' | relative_url }}" onload="renderMathInElement(document.body);"></script>
    {% endif %}

    <!-- Mermaid 8.9.2 -->
    {% if site.mermaid %}
    <script defer src="{{ '/assets/js/vendor/mermaid.min.js' | relative_url }}" onload="mermaid.initialize({startOnLoad:true});"></script>
    {% endif %}

    <!-- Simple Jekyll Search 1.9.1 -->
    <script src="{{ '/assets/js/vendor/simple-jekyll-search.min.js' | relative_url }}" type="text/javascript"></script>

    <!-- Google Analytics / Cookie Consent -->
    <script>
      const cookieName = 'cookie-notice-dismissed-{{ site.url }}';
      const isCookieConsent = '{{ site.cookie_consent }}';
      const analyticsName = '{{ site.google_analytics }}';
    </script>

    {% if site.cookie_consent %}
        <span id="cookie-notice"><span>{{ site.data.language.str_cookie_disclaimer | default: "We would like to use third party cookies and scripts to improve the functionality of this website." }}
          </span><a id="cookie-notice-accept" class="button">{{ site.data.language.str_cookie_approve | default: "Approve" }}</a>
        </span>
    {% endif %}
    {% if site.google_analytics %}
        <!-- Global site tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
        <!-- Page analysis (analytics.js) -->
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    {% endif %}

    <!-- seo tags -->
    <meta property="og:image" content="{{ '/' | absolute_url }}{% if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ page.feature-img | default: site.header_feature_image }}{% endif %}">
    {% unless page.layout == post %}
    <meta property="og:type" content="website" />
    {% endunless %}
    {% seo %}

    <!-- Twitter Cards -->
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.content | strip_html | strip_newlines | truncate: 160 | default: site.header_text}}">
    {% if site.data.social.twitter %}
    <meta name="twitter:creator" content="@{{ site.data.social.twitter }}">
    <meta name="twitter:site" content="@{{ site.data.social.twitter }}">
    {% endif %}
    <meta name="twitter:card" content="{% unless page.thumbnail %}summary{% else %}summary_large_image{% endunless %}">
    <meta name="twitter:image" content="{{ '/' | absolute_url }}{% if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ page.feature-img | default: site.header_feature_image }}{% endif %}">
    <meta name="twitter:image:alt" content="{{ page.title | default: site.title }}">
</head>
