<header class="site-header">

  <!-- Toggle menu -->
  <nav>
    <!-- Logo and title -->
    <div class="branding">
      <a class="logo" href="{{ '/' | relative_url }}">
        <img alt="logo img" src="{{ '/assets/img/logo.svg' | relative_url }}" />
      </a>
      {% unless page.title == 'index' %}
      <a class="site-title" aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>
      {% endunless %}
    </div>

    <a aria-label="pull" id="pull" class="toggle" href="#" onclick="toggleMenu()">
      <i class="fas fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
      {% for nav in site.data.nav %}
      <li{% if nav.icon %} class="icon"{% endif %}>
        <a
          aria-label="{{ nav.title | downcase }}"
          href="{% if nav.page %}{{ nav.page | relative_url }}{% elsif nav.href %}{{ nav.href }}{% endif %}"{% if nav.icon %} class="icon"{% endif %}
          {% if nav.href %} target="_blank"{% endif %}
        >
          {% if nav.icon %}
          <i class="{{ nav.icon }}"></i>
          {% else %}
            {{ nav.title | escape }}
          {% endif %}
        </a>
      </li>
      {% endfor %}
      <li class="icon">
        <a
          class="icon"
          id="theme-toggle"
          aria-label="Theme Toggle"
          onclick="themeToggle()"
          title="Toggle between light and dark theme"
        >
          <i class="fa-solid fa-circle-half-stroke"></i>
        </a>
      </li>
    </ul>

  </nav>
</header>
