<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} &raquo; SuperCollider</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive-2.3.0.min.css" rel="stylesheet">

    <!-- highlight.js -->
    <link rel="stylesheet" href="/css/highlight/github.css">
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- site custom -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="all">

    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">


    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="/"><img src="/images/sc_cube_32x32.png" alt="SuperCollider" /> {{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
            <li><a href="http://doc.sccode.org/">Docs</a></li>
            <li class="badges"><iframe src="https://ghbtns.com/github-btn.html?user=supercollider&amp;repo=supercollider&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="105px" height="30px">watch</iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=supercollider&amp;repo=supercollider&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="105px" height="30px">fork</iframe>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main container-narrow">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
          <p>Licensed under the <a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License</a>.</p>

          <a class="edit-link quiet" href="https://github.com/supercollider/supercollider.github.io/edit/master/{{ page.path }}"><i class="icon-edit"></i> edit this page</a>
      </footer>

    </div>

    {% include JB/analytics %}
  </body>
</html>
