---
layout: default
---

<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row-fluid">
  <div class="span3">
    <ul class="nav nav-tabs nav-stacked">
        {% for title in site.groups[{{page.group}}] %}
            {% assign filename = title | append: '.html' %}
            {% for a_page in site.pages %}
                {% assign a_filename = a_page.url | split:'/' | last %}
                {% if a_page.group == {{page.group}} and a_filename == {{filename}} %}
                    {% if a_page.url == {{page.url}} %}
                        <li class="active">
                                <a href="{{BASE_PATH}}{{page.url}}">{{ page.title }}</a>
                                <ul>
                                {% for anchor in page.anchors %}
                                    <li><a href="{{BASE_PATH}}{{page.url}}#{{anchor[0]}}">{{anchor[1]}}</a></li>
                                {% endfor %}
                                </ul>
                        </li>
                    {% else %}
                        <li><a href="{{BASE_PATH}}{{a_page.url}}">{{ a_page.title }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
  </div>
  <div class="span9">
    {{ content }}
  </div>
</div>

